<!-- Estilos CSS -->
<style>
  .form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
  }

  .filter {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .input-icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .input-icon input {
    width: 100%;
    padding-left: 40px; /* Espaço para o ícone */
    border-radius: 6px;
    padding: 8px;
  }

  .input-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
    transition: opacity 0.2s ease-in-out;
  }

  .input-icon i.hidden {
    opacity: 0;
  }

  /* Botão de enviar */
  .filtrar {
    margin-top: 10px;
    padding-left: 90px;
  }

  .filtrando {
    padding: 8px 25px;
    text-decoration: none;
    color: #ddd;
    background-color: #0000ff;
    border: none;
    border-radius: 25px;
    font-size: 1.25rem;
    cursor: pointer;
  }

  .filtrando:hover {
    background-color: #0056b3;
  }
</style>


<!-- Link para o Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- Filtros de pesquisa -->
<span>FILTROS:</span>
<form action="" id="search-and-filters-form">
  <div class="form-row">
    <div class="filter">
      <label>Texto:</label>
      <input type="text" pattern=".{3,}" name="q" value="{{ request.GET.q }}" id="searchbar-text" title="3 ou mais caracteres">
    </div>

    <div class="filter">
      <label for="data_da_realizacao">Data da Realização:</label>
      <input type="text" pattern=".{3,}" name="q" value="{{ request.GET.q }}" id="searchbar-date" title="3 ou mais caracteres">
    </div>

    <div class="filter">
      <label for="ano">Ano:</label>
      <div class="input-icon">
        <i class="fas fa-search" id="icon-ano"></i>
        <input type="text" name="ano" id="searchbar-ano" placeholder="   &nbsp;   Todos">
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="filter">
      <label for="ano">Turma:</label>
      <div class="input-icon">
        <i class="fas fa-search" id="icon-turma"></i>
        <input type="text" name="turma" id="searchbar-turma" placeholder="   &nbsp;   Todas">
      </div>
    </div>

    <div class="filter">
      <label for="periodo_letivo">Período:</label>
      <select id="periodo_letivo" name="periodo_letivo">
        <option value="">Todos</option>
        <!-- Lista de opções aqui -->
      </select>
    </div>

    <div class="filter">
      <label for="curso">Curso:</label>
      <select id="curso" name="curso">
        <option value="">Todos</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </div>

  
    
  </div>

  <div class="filtrar" style="padding-left: 91px;  ">
    <button id="filtrando" class="filtrando" type="submit">Filtrar</button>
  </div>
</form>


<!-- JavaScript -->
<script>
  const searchbarAno = document.getElementById('searchbar-ano');
  const iconAno = document.getElementById('icon-ano');
  const searchbarTurma = document.getElementById('searchbar-turma');
  const iconTurma = document.getElementById('icon-turma');

  // Adiciona evento de input para esconder o ícone quando o usuário digitar
  searchbarAno.addEventListener('input', function() {
    if (searchbarAno.value.length > 0) {
      iconAno.classList.add('hidden');
    } else {
      iconAno.classList.remove('hidden');
    }
  });
  // Adiciona evento de input para esconder o ícone quando o usuário digitar
  searchbarTurma.addEventListener('input', function() {
    if (searchbarTurma.value.length > 0) {
      iconTurma.classList.add('hidden');
    } else {
      iconTurma.classList.remove('hidden');
    }
  });
</script>