{% load static %}

<style>
  @media (min-width: 1200px) {
    header {
      text-align: center;
    }

    nav {
      margin-top: 10px;
    }

    nav ul {
      display: block;
      margin: 0;
      right: 140px;
      padding: 0;
    }

    nav li {
      margin-bottom: 5px;
      margin-left: 20px;
    }

    .paragra {
      position: absolute;
      width: 163px;
      height: 16px;
      left: 75.67% !important;
      right: 15.25%;
      top: -18px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 15px;
      display: flex;
      align-items: center;
      text-align: center;
      text-decoration-line: underline;
      color: #FFFFFF;
    }

    .reser {
      margin-left: -55px;
    }

    .lista {
      position: absolute;
      width: 263px;
      height: 16px;
      left: 30% !important;
      transform: translateX(-50%);
      top: 1px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 15px;
      display: flex;
      align-items: center;
      text-align: center;
      text-decoration-line: underline;
    }

    .topo {
      position: absolute;
      height: 116px;
      width: 100%;
      left: 0;
      top: 0;
      background: #F6F6F6;
      border-radius: 0;
    }

    .subtopo {
      position: absolute;
      height: 25.5px;
      width: 100%;
      bottom: 0%;
      left: 0;
      top: 16.3%;
      background: #C93441;
      border-radius: 0;
    }

    /* Estilos para o aside */
    aside {
      position: fixed;
      top: 0;
      left: 0;
      width: 200px;
      height: 100%;
      background-color: #800020; /* Cor vinho */
    }
  }

  @media screen and (min-width: 767px) {
    header {
      text-align: center;
    }

    nav {
      margin-top: 10px;
    }

    nav ul {
      display: block;
      margin: 0;
      right: 140px;
      padding: 0;
    }

    nav li {
      margin-bottom: 5px;
      margin-left: 20px;
    }

    .paragra {
      position: absolute;
      width: 163px;
      height: 16px;
      left: 65.67%;
      right: 5.25%;
      top: -18px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 15px;
      display: flex;
      align-items: center;
      text-align: center;
      text-decoration-line: underline;
      color: #FFFFFF;
    }

    .reser {
      margin-left: -55px;
    }

    .lista {
      position: absolute;
      width: 263px;
      height: 16px;
      left: 50%;
      transform: translateX(-50%);
      top: 1px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 15px;
      display: flex;
      align-items: center;
      text-align: center;
      text-decoration-line: underline;
    }

    .topo {
      position: absolute;
      height: 116px;
      width: 100%;
      left: 0;
      top: 0;
      background: #F6F6F6;
      border-radius: 0;
    }

    .subtopo {
      position: absolute;
      height: 25.5px;
      width: 100%;
      bottom: 0%;
      left: 0;
      top: 16.3%;
      background: #C93441;
      border-radius: 0;
    }

    /* Estilos para o aside */
    aside {
      position: fixed;
      top: 0;
      left: 0;
      width: 275px;
      height: 100%;
      background-color: #800020; /* Cor vinho */
    }
  }
</style>



<aside>
  <!-- Conteúdo do aside pode ser adicionado aqui futuramente -->
  <div class="subtopo">
    <li class="lista">
     
    </li>

    
  </div>
</aside>
